<script type="text/javascript">
$(document).ready(function(){
$("a#aaa").lightBox({fixedNavigation:true});
});
</script>


<%= render :partial => 'friend/paginate' %>
<br></br><br></br>

<% @photos.each do |photo| %>
   <% photo.images.each do |t| %>
     <% if t.width==180 %>
        <% @thumb= t.source%>
        <% @width= t.width%>
        <% @height= t.height %>
     <% end %>
   <% end %>

   <%#= photo.to_yaml%>
   <%#=image_tag photo.source %>
     
     <a href=<%= photo.source %> id='aaa' ><img src=<%= @thumb %>  width=<%= @width %> height=<%= @height %> alt="" /></a>
   
   <br></br>
<% end %>

Hi, FOTOMOTO Widget
<script type="text/javascript" src="http://widget.fotomoto.com/stores/script/ae77b7c667526252ac14d4aefe368b94ce4c8ca1.js"></script>
<noscript>If Javascript is disabled browser, to place orders please visit the page where I
 <a href="http://my.fotomoto.com/store/ae77b7c667526252ac14d4aefe368b94ce4c8ca1" target="_blank">sell my photos</a>, 
 powered by <a href="http://my.fotomoto.com/" target="_blank">Fotomoto</a>.</noscript> 
